<div class="container">
  <p>Write a tweet</p>
  <form class="tweettext">
    <input type="text" placeholder="chirp-chirp" name="tweet">
    <input type="submit" value="Send Tweets">
  </form>

</div>
